<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="customerstore_backend_customer_listing_data_source" xsi:type="string">Customer\Store\Model\ResourceModel\Customer\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Customer\Store\Model\ResourceModel\Customer\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">customer_store</argument>
            <argument name="resourceModel" xsi:type="string">Customer\Store\Model\ResourceModel\Customer</argument>
        </arguments>
    </virtualType>
</config>
